PORT=5000

MONGODB_URI=mongodb://jimmiparekh936_db_user:jimmiparekh@ac-c3o85gk-shard-00-00.ghl3h1i.mongodb.net:27017,ac-c3o85gk-shard-00-01.ghl3h1i.mongodb.net:27017,ac-c3o85gk-shard-00-02.ghl3h1i.mongodb.net:27017/taskflow?tls=true&authSource=admin&replicaSet=atlas-bmdedp-shard-0&retryWrites=true&w=majority


JWT_SECRET=8dK#2mL!9xQ@vR7$Tp1Nz5*Hs8WcY4fJ
